#canvas {
  border: 2px solid red;
  width: 500px;
  height: 2000px;
  margin: 0 auto;
  position: relative;
}

h1 {
  border: 1px solid red;
  margin-top: 15rem;
  margin-left: 10.5rem;
  text-align: center;
  position: fixed;
}

#cloud1 {
  position: relative;
  border: 1px solid blue;
}

#cloud2 {
  position: relative;
  border: 1px solid blue;
}

#cloud3 {
  position: relative;
  border: 1px solid blue;
}

#cloud4 {
  position: relative;
  border: 1px solid blue;
}

#cloud5 {
  position: relative;
  border: 1px solid blue;
}
#cloud6 {
  position: relative;
  border: 1px solid blue;
}
#cloud7 {
  position: relative;
  border: 1px solid blue;
}
#cloud8 {
  position: relative;
  border: 1px solid blue;
}
#cloud9 {
  position: relative;
  border: 1px solid blue;
}
#cloud10 {
  position: relative;
  border: 1px solid blue;
}
#cloud11 {
  position: relative;
  border: 1px solid blue;
}
#cloud12 {
  position: relative;
  border: 1px solid blue;
}
#cloud13 {
  position: relative;
  border: 1px solid blue;
}
#cloud14 {
  position: relative;
  border: 1px solid blue;
}
#cloud15 {
  position: relative;
  border: 1px solid blue;
}
#cloud16 {
  position: relative;
  border: 1px solid blue;
}
#cloud17 {
  position: relative;
  border: 1px solid blue;
}
#cloud18 {
  position: relative;
  border: 1px solid blue;
}
