#canvas {
  width: 700px;
  height: 10000px;
  margin: 0 auto;
  position: absolute;
  margin-left: 40rem;
  margin-right: 25rem;
  background-image: url(images/background.jpg);
}

.bird {
  padding-left: 240px;
  padding-top: 300px;
  text-align: center;
  position: fixed;
  z-index: 4;
  /*background-image: url(images/bird.png);*/
  animation: bird 3s infinite;
}

@keyframes .bird {
  0%
  {
    transform: rotate(0deg);
      border-radius: 0%;
  }
  50%
  {
    transform: rotate(40deg);
      border-radius: 0%;
  }
  100%
  {
    transform: rotate(0deg);
      border-radius: 0%;
  }
}

#cloud1 {
  position: relative;

  background-image: url(images/cloud.png);
  z-index: 5;
}
#cloud2 {
  position: relative;
  background-image: url(images/cloud.png);
  z-index: 5;
}
#cloud3 {
  position: relative;
  background-image: url(images/cloud.png);
  z-index: 5;
}
#cloud4 {
  position: relative;
  background-image: url(images/cloud.png);
  z-index: 5;
}
#cloud5 {
  position: relative;
  background-image: url(images/cloud.png);
  z-index: 5;
}
#cloud6 {
  position: relative;
  background-image: url(images/cloud.png);
  z-index: 5;
}
#cloud7 {
  position: relative;
  background-image: url(images/cloud.png);
  z-index: 5;
}
#cloud8 {
  position: relative;
  background-image: url(images/cloud.png);
  z-index: 5;
}
#cloud9 {
  position: relative;
  background-image: url(images/cloud.png);
  z-index: 5;
}
#cloud10 {
  position: relative;
  background-image: url(images/cloud.png);
  z-index: 5;
}
#cloud11 {
  position: relative;
  background-image: url(images/cloud.png);
  z-index: 5;
}
