#canvas {
  width: 700px;
  height: 10000px;
  margin: 0 auto;
  position: absolute;
  margin-left: 40rem;
  margin-right: 25rem;
  background-image: url(images/background.jpg);
}

.bird {
  
  position: fixed;
  z-index: 100;
}

@keyframes square {
  0%
  {
    transform: rotate(0deg);
      border-radius: 0%;
      background: black;
  }
  50%
  {
    transform: rotate(90deg);
      border-radius: 0%;
      background: black;
  }
  100%
  {
    transform: rotate(0deg);
      border-radius: 0%;
      background: black;
  }
}

#cloud1 {
  position: relative;

  background-image: url(images/cloud.png);
  z-index: 5;
}
#cloud2 {
  position: relative;
  background-image: url(images/cloud.png);
  z-index: 5;
}
#cloud3 {
  position: relative;
  background-image: url(images/cloud.png);
  z-index: 5;
}
#cloud4 {
  position: relative;
  background-image: url(images/cloud.png);
}
#cloud5 {
  position: relative;
  background-image: url(images/cloud.png);
}
#cloud6 {
  position: relative;
  background-image: url(images/cloud.png);
}
#cloud7 {
  position: relative;
  background-image: url(images/cloud.png);
}
#cloud8 {
  position: relative;
  background-image: url(images/cloud.png);
}
#cloud9 {
  position: relative;
  background-image: url(images/cloud.png);
}
#cloud10 {
  position: relative;
  background-image: url(images/cloud.png);
}
#cloud11 {
  position: relative;
  background-image: url(images/cloud.png);
}
